body {
    background-color: #cdd7ee;
    color: #152435;
    font-family: monospace; 
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

/*  NAV MENU  */
.navBar {
    margin: auto;
    
}

.navBar ul {
    background-color: #858fad;
    list-style-type: none;
    display: block;
    max-width: 780px;
    margin: auto;
    padding: 0;
    border-radius: 15px;
}

.navBar ul li {
    display: inline-block;
    margin: 0;
    font-size: 15px;
}

.navBar ul li a {
    background-color: #858fad;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #152435;
}

.navBar ul li a:hover {
    display: block;
    background-color: #293356;
    color: #fafbff;
    text-decoration: none;
}

/*  BACKGROUND FOR POLAROIDS / TEXT */
.corkboard {
    margin: auto;
    max-width: 700px;
    padding: 40px;
    background-color: #d6ccc2;
    border-radius: 15px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}

/* IMAGES ("POLAROIDS") */
a.polaroid {
    background-color: #edede9;
    color: #343a40;
    padding: 7px 10px 30px 10px;
    margin: 20px;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

a.polaroid:link,
a.polaroid:visited {
    text-decoration: none;
    color: #343a40;
}

a.polaroid:hover {
    background-color: #343a40;
    color: #edede9;
}

/*  AUTHOR TAG  */
.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    bottom: 0;

}